language: python
python:
  - '3.8.5'

before_script:
  - pip install -r requirements.txt
  - psql -c 'create database travis_ci_test;' -U postgres


env: DJANGO_SETTINGS_MODULE="purbeurre.settings.travis"

script:
  - pytest

# safelist
branches:
  only:
    - staging